<?xml version="1.0" encoding="UTF-8"?>

<config> 
  <computer id="C20090717101853" name="bi" host="10.60.58.194" user="wuchunguo" pswd="wucg" memo="" creatdate="2009-07-17 10:18:53"/>  
  <computer id="C20090717194400" name="T7400" host="10.60.58.194" user="wuchunguo" pswd="wucg" memo="" creatdate="2009-07-17 19:44:00"> 
    <group id="G20090801084618" name="g4" dirname="/g4/g5" creatdate="2009-08-01 08:46:18" memo="" pid="1083"> 
      <task id="T20090801112843" name="t12" creatdate="2009-08-01 11:28:43" cmd="ls" out="C:\Users\Administrator\Documents" starttime="2009-08-08 14:49:17" memo="" dirname="/g4/t1" outfiles="" opts="" stimelong="1249714157745" runsc="0" runpid="32219"/>  
      <task id="T20090802093701" name="t2" creatdate="2009-08-02 09:37:01" cmd="ls" out="C:\Users\Woden\Desktop" outfiles="" opts="-s;" starttime="2009-08-08 11:26:18" memo="" dirname="/t2" stimelong="1249701978808" runsc="0"/>  
      <task id="T20090809090729_1" name="1_1" dirname="/g4/g5/1_1" creatdate="2009-08-09 09:07:29" cmd="ls" out="C:\Users\Administrator\Documents" outfiles="" starttime="" memo=""> 
        <infile url="C:\Users\Administrator\Documents\T20090801112843.txt">T20090801112843.txt</infile> 
      </task>  
      <task id="T20090809090729_2" name="1_2" dirname="/g4/g5/1_2" creatdate="2009-08-09 09:07:29" cmd="ls" out="C:\Users\Administrator\Documents" outfiles="" starttime="" memo=""> 
        <infile url="C:\Users\Administrator\Documents\T20090801112843.txt">T20090801112843.txt</infile> 
      </task>  
      <task id="T20090809090729_3" name="1_3" dirname="/g4/g5/1_3" creatdate="2009-08-09 09:07:29" cmd="ls" out="C:\Users\Administrator\Documents" outfiles="" starttime="" memo=""> 
        <infile url="C:\Users\Administrator\Documents\T20090801112843.txt">T20090801112843.txt</infile> 
      </task> 
    </group>  
    <group id="G20090804091031" name="gg5" dirname="/gg5" creatdate="2009-08-04 09:10:31"> 
      <task id="T20090805104145_1" name="svm_1" dirname="/gg5/svm_1" creatdate="2009-08-05 10:41:45" cmd="./squarlhan/irsvm" out="F:\Woden 的文档" outfiles="1_out.txt;1_alpha.dat;" opts="4500.0;0.1;" starttime="2009-08-05 11:17:16" memo="" stimelong="1249442236332" runsc="0" runpid="5006"> 
        <infile url="E:\SSH\cpp\Iterative Regression\sinc.txt">sinc.txt</infile> 
      </task>  
      <task id="T20090805104145_2" name="svm_2" dirname="/gg5/svm_2" creatdate="2009-08-05 10:41:45" cmd="./squarlhan/irsvm" out="F:\Woden 的文档" outfiles="2_out.txt;2_alpha.dat;" opts="4500.0;0.2;" starttime="2009-08-05 11:05:12" memo="" stimelong="1249441512257" runsc="0" runpid="4243"> 
        <infile url="E:\SSH\cpp\Iterative Regression\sinc.txt">sinc.txt</infile> 
      </task>  
      <task id="T20090805104145_3" name="svm_3" dirname="/gg5/svm_3" creatdate="2009-08-05 10:41:45" cmd="./squarlhan/irsvm" out="F:\Woden 的文档" outfiles="3_out.txt;3_alpha.dat;" opts="5500.0;0.1;" starttime="2009-08-05 11:09:48" memo="" stimelong="1249441788457" runsc="0" runpid="4482"> 
        <infile url="E:\SSH\cpp\Iterative Regression\sinc.txt">sinc.txt</infile> 
      </task>  
      <task id="T20090805104145_4" name="svm_4" dirname="/gg5/svm_4" creatdate="2009-08-05 10:41:45" cmd="./squarlhan/irsvm" out="F:\Woden 的文档" outfiles="4_out.txt;4_alpha.dat;" opts="5500.0;0.2;" starttime="2009-08-05 11:15:50" memo="" stimelong="1249442150690" runsc="0" runpid="4874"> 
        <infile url="E:\SSH\cpp\Iterative Regression\sinc.txt">sinc.txt</infile> 
      </task> 
    </group>  
    <group id="G20090807143450" name="1" dirname="/1" creatdate="2009-08-07 14:34:50" pid="17723"> 
      <task id="T20090809104857" name="1" dirname="/1/1" creatdate="2009-08-09 10:48:57" cmd="ls" out="C:\Users\Administrator\Documents" outfiles="" opts="" starttime="2009-08-10 08:29:55" memo="" runsc="0" stimelong="1249864195415"/>  
      <task id="T20090809104942" name="2" dirname="/1/2" creatdate="2009-08-09 10:49:42" cmd="ls" out="C:\Users\Administrator\Documents" outfiles="" opts="-s;" starttime="2009-08-10 08:29:55" memo="" runsc="0" stimelong="1249864195435"/>  
      <task id="T20090809132523" name="3" dirname="/1/3" creatdate="2009-08-09 13:25:23" cmd="sleep 20" out="C:\Users\Administrator\Documents" outfiles="" opts="" starttime="2009-08-10 08:29:55" memo="" stimelong="1249864195446" runsc="0" runpid="457"/> 
    </group> 
  </computer> 
</config>
