<?xml version="1.0" encoding="UTF-8"?>

<config> 
  <computer id="C20090717101853" name="bi" host="10.60.58.194" user="wuchunguo" pswd="wucg" memo="" creatdate="2009-07-17 10:18:53"/>  
  <computer id="C20090717194400" name="T7400" host="10.60.58.194" user="wuchunguo" pswd="wucg" memo="" creatdate="2009-07-17 19:44:00"> 
    <group id="G20090801084618" name="g4" dirname="/g4/g5" creatdate="2009-08-01 08:46:18" memo="" pid="1083"> 
      <task id="T20090801112843" name="t12" creatdate="2009-08-01 11:28:43" cmd="ls" out="C:\Users\Administrator\Documents" starttime="2009-08-08 14:49:17" memo="" dirname="/g4/t1" outfiles="" opts="" stimelong="1249714157745" runsc="0" runpid="32219"/>  
      <task id="T20090802093701" name="t2" creatdate="2009-08-02 09:37:01" cmd="ls" out="C:\Users\Woden\Desktop" outfiles="" opts="-s;" starttime="2009-08-08 11:26:18" memo="" dirname="/t2" stimelong="1249701978808" runsc="0"/>  
      <task id="T20090809090729_1" name="1_1" dirname="/g4/g5/1_1" creatdate="2009-08-09 09:07:29" cmd="ls" out="C:\Users\Administrator\Documents" outfiles="" starttime="" memo=""> 
        <infile url="C:\Users\Administrator\Documents\T20090801112843.txt">T20090801112843.txt</infile> 
      </task>  
      <task id="T20090802093701" name="t2" creatdate="2009-08-02 09:37:01" cmd="cmd" out="C:\Users\Woden\Desktop" outfiles="一棵开花的树.txt;" opts="l;j;" starttime="" memo="" dirname="/t2" stimelong="0"> 
        <infile url="E:\SSH\一棵开花的树.txt">一棵开花的树.txt</infile> 
      </task>  
      <task id="T20090809090729_2" name="1_2" dirname="/g4/g5/1_2" creatdate="2009-08-09 09:07:29" cmd="ls" out="C:\Users\Administrator\Documents" outfiles="" starttime="" memo=""> 
        <infile url="C:\Users\Administrator\Documents\T20090801112843.txt">T20090801112843.txt</infile> 
      </task>  
      <task id="T20090809090729_3" name="1_3" dirname="/g4/g5/1_3" creatdate="2009-08-09 09:07:29" cmd="ls" out="C:\Users\Administrator\Documents" outfiles="" starttime="" memo=""> 
        <infile url="C:\Users\Administrator\Documents\T20090801112843.txt">T20090801112843.txt</infile> 
      </task> 
    </group>  
    <group id="G20090810095532" name="svms" dirname="/svms" creatdate="2009-08-10 09:55:32" pid="27297"> 
      <task id="T20090810095856" name="svmir" dirname="/svms/svmir" creatdate="2009-08-10 09:58:56" cmd="./squarlhan/irsvm" out="D:\My Documents" outfiles="out.txt;alpha.dat;" opts="4000;0.1;" starttime="2009-08-11 16:15:42" memo="" stimelong="1249978542593" runsc="0" runpid="1331"> 
        <infile url="E:\SSH\cpp\sinc.txt">sinc.txt</infile> 
      </task> 
    </group>  
    <group id="G20090810163303" name="stop" dirname="/stop" creatdate="2009-08-10 16:33:03" pid="13574"> 
      <task id="T20090810165325" name="ls" dirname="/stop/ls" creatdate="2009-08-10 16:53:25" cmd="ls" out="D:\My Documents" outfiles="" opts="" starttime="2009-08-12 08:57:51" memo="" runsc="0" stimelong="1250038671437" runpid="5781"/>  
      <task id="T20090810163323" name="sleep" dirname="/stop/sleep" creatdate="2009-08-10 16:33:23" cmd="sleep" out="D:\My Documents" outfiles="" opts="200;" starttime="2009-08-12 08:57:51" memo="" stimelong="1250038671531" runsc="0" runpid="6164"/> 
    </group> 
  </computer> 
</config>
