*{
color:#333333;
margin:0;
padding:0;
border:0;
font-size:12px;
}
a,a:link,a:hover,a:visited{
line-height:20px;
height:20px;
text-decoration:none;
color:#333333;
}
ul{
list-style:none;
}

body{
width:1024px;
margin:auto;
}
#container{
width:1024px;
margin:auto;
border-right:1px solid #A7A7A7;
border-left:1px solid #A7A7A7;
}
#banner{
height:12px;
background:#363636;
}
/***********************页面顶部样式****************************************/
#header{
height:330px;
background:url(../images/header.jpg) no-repeat left top;
border-bottom:1px solid #999999;
}

/*************************************************/
#maincontent{
padding:8px 10px 20px 0px;
background:#FFFFFF;
clear:both;
}
#leftmenu{
width:180px;
float:left;
}
/**********************导航菜单样式*******************************/
/* CSS Tabs */
#nav {
        border-right: 1px solid #000;
        padding: 0 0 12px 0;
        margin-bottom: 6px;
        font-family: Tahoma, Arial, sans-serif;
                /*'Trebuchet MS', 'Lucida Grande', Verdana, Arial, sans-serif;*/
        font-size : 10px;
        background-color: #90bade;
        color: #333;
		width:180px;
        }
	
        #nav ul {
                list-style: none;
                margin: 0;
                padding: 0;
                border: none;
                }
        #nav li {
                border-bottom: 1px solid #90bade;
                margin: 0;
                list-style: none;
                list-style-image: none;
                }

        #nav li a {
                display: block;
                padding: 5px 5px 5px 20px;
                border-left: 0px solid #1958b7;
                border-right: 10px solid #508fc4;
                background-color: #2175bc;
                color: #fff;
                text-decoration: none;
                width:140px;
                }

        #nav li a:hover {
                border-left: 0px solid #1c64d1;
                border-right: 10px solid #5ba3e0;
                background-color: #2586d7;
                color: #fff;
                }

        #nav li #active {
                border-left: 0px solid #1c64d1;
                border-right: 10px solid #5ba3e0;
                background-color: #2586d7;
                color: #fff;
              }
#friendlink{
border:1px solid #999999;
width:155px;
margin-left:3px;
margin-bottom:8px;
}		  
#friendlink h2{
width:140px;
line-height:20px;
height:25px;
background:#CCCCCC;
font-weight:bold;
padding-left:15px;
margin-bottom:5px;
}			  
#friendlink li{
line-height:20px;
padding-left:40px;
background:url(../images/list1.gif) no-repeat 16px 0;
}
/***********************************************/			  
#rightmain{
float:left;
width:800px;
margin-left:10px;
padding-left:10px;
}
#rightmain h2,#rightmain h1{
width:750px;
height:30px;
line-height:30px;
font-family:"Times New Roman", Times, serif;
font-size:14px;
border-bottom:1px solid #a2a2a2;
padding-left:20px;
color:#646464;
background:url(../images/list2.gif) no-repeat 10px 6px;
}
#rightmain h1{
background:none;
}
#rightmain h3{
padding-left:20px;
margin-top:12px;
height:25px;
line-height:25px;
font-weight:bold;
font-family:"Times New Roman", Times, serif;

}
#maintop{
height:40px;
margin:6px auto;
}
#table1{
margin:auto;
}
#table1 td{
padding-left:8px;
text-align:left;
height:25px;
}
#rightmain input{
border:1px solid #aaa;
height:20px;
line-height:20px;
}
#adminliststorage_0{
background:url(../images/search1.gif) no-repeat;
height:20px;
width:50px;
}
#rightmain .submitbutton3{
border:0;
}

.list_table{
width:750px;
margin-left:5px;
text-align:center;
border-left:1px solid #999999;
border-top:1px solid #999999;
margin-bottom:10px;
margin-top:10px;
}
.list_table input{
padding-left:10px;
margin:2px 6px;
}
.list_table select{
margin:2px 6px;
}
.list_table th{
background:#A4BEEA;
}
.list_table td,.list_table th{
border-right:1px solid #999999;
border-bottom:1px solid #999999;
height:25px;
line-height:25px;
margin:0;
}
/***********************id=footer************************/
#footer{
clear:both;
background:#eee;
height:50px;
width:100%;
text-align:center;
padding-top:16px;
}
#footer p{
height:20px;
line-height:20px;
}