a {
	text-decoration: none;
}

a,a:visited {
	color: #000;
	background: inherit;
}

body {
	margin: 0;
	padding: 20px;
	font: 12px tahoma, ו, sans-serif;
}

dt {
	font-size: 22px;
	font-weight: bold;
	margin: 0 0 0 15px;
}

dd {
	margin: 0 0 0 15px;
}

h4 {
	margin: 0;
	padding: 0;
	font-size: 18px;
	text-align: center;
}

p {
	margin: 0;
	padding: 0 0 0 18px;
}

p a,p a:visited {
	color: #00f;
	background: inherit;
}
/*CNLTreeMenu Start*/
.CNLTreeMenu img.s {
	cursor: pointer;
	vertical-align: top;
}

.CNLTreeMenu ul {
	padding: 0;
}

.CNLTreeMenu li {
	list-style: none;
	padding: 0;
}

.Closed ul {
	display: none;
}

.Child img.s {
	background: none;
	cursor: default;
}

#CNLTreeMenu2 ul {
	margin: 0 0 0 17px;
}

#CNLTreeMenu2 img.s {
	width: 17px;
	height: 15px;
}

#CNLTreeMenu2 .Opened img.s {
	background: url(/diagnosis/images/opened2.gif) no-repeat 4px 6px;
}

#CNLTreeMenu2 .Closed img.s {
	background: url(/diagnosis/images/closed2.gif) no-repeat 3px 6px;
}

#CNLTreeMenu2 .Child img.s {
	background: url(/diagnosis/images/child2.gif) no-repeat 3px 5px;
}

/*CNLTreeMenu End*/
/*Temp CSS for View Demo*/
#
#CNLTreeMenu2 {
	float: middle;
	width: 100%;
	border: 1px solid #99BEEF;
	background: #D2E4FC;
	color: inherit;
	margin: 3px;
	padding: 3px;
}

#
#CNLTreeMenu2 {
	padding-bottom: 15px;
}

.ViewCode {
	clear: both;
	border: 1px solid #FFB900;
	background: #FFFFCC;
	color: inherit;
	margin: 3px;
	padding: 3px;
}

.ViewCode h6 {
	color: #00f;
}